<a href="https://colab.research.google.com/github/leo-umfl/leosrepo/blob/main/interest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
interest=3 # The interest in absolute value (3%)
principal=3000 # The initial amount of money in the account
n=1 # The number of years

final = principal*(1+interest/100)**n

print(final)

3090.0

In [ ]:
print(interest, principal)
print(n)

3 3000
1

In [ ]:
print("Interest rate", interest, sep=" => ")
print("Number of years:",n)

Interest rate => 3
Number of years: 1

In [ ]:
print("Interest rate", interest, end="---")
print("Number of years:",n)

Interest rate 3---Number of years: 1

In [ ]:
print("Interest rate", interest, sep=">>>", end="&&&")
print("Number of years:",n)

Interest rate>>>3&&&Number of years: 1

In [ ]:
print("Interest rate", interest, "; Number of years =", n)

Interest rate 3 ; Number of years = 1

In [ ]:
print("Interest rate: {}; Number of years = {}".format(interest, n))

Interest rate: 3; Number of years = 1

In [5]:
print(f"Interest rate: {interest}; Number of years = {n}")

Interest rate: 3; Number of years = 1

In [7]:
print("Interest rate: %.2f" % interest)

Interest rate: 3.00

In [8]:
interest = input("Set interest value (%): ")
print(interest)
type(interest)

Set interest value (%): 3
3

str

In [10]:
interest = float(input("Set interest value (%): "))
principal= float(input("Enter initial amount on the account ($): "))
n = int(input("Enter number of years: "))

final = principal * (1+ interest/100)**n

print(f"Total amount after {n} year(s): {final}$")

Set interest value (%): 3
Enter initial amount on the account ($): 3000
Enter number of years: 1
Total amount after 1 year(s): 3090.0$