<a href="https://colab.research.google.com/github/leo-umfl/leosrepo/blob/main/interest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
interest=3 # The interest in absolute value (3%)
principal=3000 # The initial amount of money in the account
n=1 # The number of years

final = principal*(1+interest/100)**n

print(final)

3090.0

In [ ]:
print(interest, principal)
print(n)

3 3000
1

In [ ]:
print("Interest rate", interest, sep=" => ")
print("Number of years:",n)

Interest rate => 3
Number of years: 1

In [ ]:
print("Interest rate", interest, end="---")
print("Number of years:",n)

Interest rate 3---Number of years: 1

In [ ]:
print("Interest rate", interest, sep=">>>", end="&&&")
print("Number of years:",n)

Interest rate>>>3&&&Number of years: 1

In [ ]:
print("Interest rate", interest, "; Number of years =", n)

Interest rate 3 ; Number of years = 1

In [ ]:
print("Interest rate: {}; Number of years = {}".format(interest, n))

Interest rate: 3; Number of years = 1